name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run on each push to the main branch
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }} # Uses the same token you made for the 3D city!
          filename: github-metrics.svg
          
          # Options for the card
          user: VedisVigourous
          template: classic
          base: ""
          config_timezone: Asia/Kolkata
          
          # The "Language" Plugin
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_limit: 4
