name: GitHub Stats Pie Chart

on:
  schedule:
    - cron: '0 0 * * *'  # daily
  workflow_dispatch:

jobs:
  generate-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Stats
        uses: cicirello/user-statistician@v1
        with:
          github_token: ${{ secrets.GH_TOKEN }}
